section#approach.approach.section-bg
  .container(data-aos="fade-up")
    .section-title
      h2 Approach
    .row
      .col-12
        p
          | The Control Origins approach to transformation and optimization is based on best practices for implementing change in an organization.
          |   There have been many methods, processes, standards and practices that have been published over the past few decades which have been used to guide the
          |   development of our approach. The following list is representative but not all inclusive:
        ul(style="list-style:none;padding:0;")
          li
            i.ri-check-double-line
            strong PDCA:
            | Plan, Do, Check, Act model or "Shewhart Cycle" published by W. Edwards Deming
          li
            i.ri-check-double-line
            strong DMAIC:
            | Define, Measure, Analyze, Improve and Control model which is a data-driven
            |   improvement cycle adopted by Motorola's Six Sigma methodology
          li
            i.ri-check-double-line
            strong OODA:
            | Observe, Orient, Decide and Act model published by military strategist and USAF Colonel John Boyd
          li
            i.ri-check-double-line
            strong PO/AI/DS/ME:
            | Plan and Organize, Acquire and Implement, Deliver and Support and
            |   Monitor and Evaluate model published in ISACA's COBIT framework
          li
            i.ri-check-double-line
            strong SS/SD/ST/SO:
            | Service Strategy, Service Design, Service transition and Service Operation published in ITIL
        p
          | The Control Origins approach is first and foremost the major phases and steps of the strategic transformation and/or optimization methodology.
          |   However, the importance of a well defined approach is also core to the structure for our 'practices taxonomy', a very key component of the Control Origins
          |   modeling framework. The practices taxonomy is used to classify all components of the framework including documents, tools, templates, digital assets and
          |   other information relevant to the strategic transformation process.
        p ITIL® and IT Infrastructure Library® are Registered Trade Marks of AXELOS Limited.
    .row
      .col-md-6
        .icon-box(
          data-aos-delay="100"
          data-aos="fade-up"
          )
          i.icofont-computer
          h4
            a(href="/#approach-discover") Discover
          p#approach-discover
            | The Discover phase of the Control Origins methodology is targeted at developing a detailed understanding of the organization's business
            |   goals and objectives as well the alignment of the organization being analyzed to those business goals and objectives.
      .col-md-6.mt-4.mt-md-0
        .icon-box(
          data-aos-delay="200"
          data-aos="fade-up"
          )
          i.icofont-chart-bar-graph
          h4
            a(href="/#approach-asses") Assess
          p#approach-assess
            | This phase of the Control Origins approach is targeted at developing a detailed understanding of the organizations service delivery quality,
            |   process maturity and cost effectiveness.
      .col-md-6.mt-4.mt-md-0
        .icon-box(
          data-aos-delay="300"
          data-aos="fade-up"
          )
          i.icofont-image
          h4
            a(href="/#approach-define") Define
          p#approach-define
            | The Define phase of the Control Origins methodology is targeted at the detailed definition of all components of the transformation or optimization
            |   alternatives that have been prioritized for implementation.
      .col-md-6.mt-4.mt-md-0
        .icon-box(
          data-aos-delay="400"
          data-aos="fade-up"
          )
          i.icofont-settings
          h4
            a(href="/#approach-design") Design
          p#approach-design
            | The Design phase of the Control Origins methodology is targeted at developing the detailed specifications for building the components of transformation or
            |   optimization from the Define process.
      .col-md-6.mt-4.mt-md-0
        .icon-box(
          data-aos-delay="500"
          data-aos="fade-up"
          )
          i.icofont-earth
          h4
            a(href="/#approach-implement") Implement
          p#approach-implement
            | The Implement phase of the Control Origins methodology is targeted at constructing or building the transformation and/or optimization components that were specified in Design.
      .col-md-6.mt-4.mt-md-0
        .icon-box(
          data-aos-delay="600"
          data-aos="fade-up"
          )
          i.icofont-tasks-alt
          h4
            a(href="/#approach-optimize") Optimize
          p#approach-optimize
            | The Optimize phase of the Control Origins methodology is targeted at continuous improvement of the transformation and/or optimization components that were delivered in Implement
