section#models.opportunity.section-bg
  .container(data-aos="fade-up")
    .row.no-gutters
      .content.col-xl-5.d-flex.align-items-stretch
        .content
          h3 Data & Analytical Models
          p
            | Rapidly cross-referencing and analyzing an organization's processes against regulatory requirements and best practice frameworks is a
            |   critical component of any transformation assessment.  Mapping those varied elements to an organization's roles, skills and
            |   responsibilities can only be efficiently accomplished with a robust data and analytics model.
            br
            br
            | Evaluating enterprise IT processes should begin with creation of a clear 'baseline' of the current process and control environment.
            |   To establish the baseline, the relationship between procedures, standards, roles, skills, best practices, regulatory requirements must
            |   be explicitly defined. Once defined, the baseline is used to complete a 'gap analysis' of an organization’s process and control hierarchy
            |   through a capability maturity assessment process.
          p
            strong Bottom line:
            | The Control Origins team leveraged deep experience in processes and industry best practices
            |   as well as cloud-based application development and hosting to build a modeling framework accessible through web-based,
            |   mobile or 'stand-alone' windows user interfaces.  Web-based user interfaces can be cumbersome and ineffective for data
            |   collection across complex data domains (applications, roles, skills etc.). Data collection, data analysis, data visualization
            |   and relational evaluation is tailored to the most effective approach for the data domain being analyzed.
            br
          .clear
      .col-xl-7.d-flex.align-items-stretch
        .icon-boxes.d-flex.flex-column.justify-content-center
          .row
            .col-md-6.icon-box(
              data-aos-delay="100"
              data-aos="fade-up"
              )
              i.bx.bx-receipt
              h4 Scored Assessment Models
              p
                | Comparing an organization's processes and controls to both regulatory requirements and best practice frameworks is a key component of
                |   developing a transformation or optimization strategy. The ability to assess the maturity of an organization from a process and control
                |   perspective is essential to developing that strategy.
            .col-md-6.icon-box(
              data-aos-delay="200"
              data-aos="fade-up"
              )
              i.bx.bx-cube-alt
              h4 Portfolio Analysis Models
              p
                | The assessment and analysis of transformation or optimization alternatives must include domains 'portfolios' or collections of assets that
                |   are not commonly included in the analysis process. Asset types or categories included in a 'portfolio' are sometimes referred to as 'resource units'
                |   in strategic sourcing strategy development. Portfolios can include applications, physical or logical servers, network nodes, storage etc. In order to
                |   comprehensively assess transformation or optimization alternatives for any organization, varying levels of 'portfolio' analysis must be completed.
            .col-md-6.icon-box(
              data-aos-delay="300"
              data-aos="fade-up"
              )
              i.bx.bx-images
              h4 Role Analysis Models
              p
                | Roles define an associated set of tasks or activities. Roles may be performed by many people; and one person can perform many roles. For example,
                |   an organization may have several resources that perform the role of Database Administrator, although traditionally each application group or
                |   business process team only has one Database Administrator at any one time; and a person who is able to perform the role of Database Administrator
                |   may also be able to perform the role of Database Architect or Database Designer.
            .col-md-6.icon-box(
              data-aos-delay="400"
              data-aos="fade-up"
              )
              i.bx.bx-shield
              h4 Responsibility Assignment Models
              p
                | An industry best practice for defining the level of responsibility assigned to a specific 'role' is the RACI matrix which is an abbreviation for
                |   Responsible Accountable, Consulted and Informed. Also referred to as Responsibility Assignment Model (RAM), this approach maps activities and
                |   deliverables to roles for a business process.
        // End .content
