// ======= Opportunity Section =======
section#opportunity.opportunity.section-bg
  .container(data-aos="fade-up")
    .row.no-gutters
      .content.col-xl-5.d-flex.align-items-stretch
        .content
          h3 The Opportunity Is Clear
          p Our solution focus areas include:
          ul
            li Regulatory and Internal Control Compliance
            li Technical and Business Architecture Compliance
            li IT Strategy for Applications, Operations and Governance
            li Data Privacy and Information Security
          p
          p
            | Our solution model is driven by an analytical approach that is delivered through a multi-tenant, cloud hosted solution leveraging
            |   Microsoft technology (Azure, ASP.Net, SQL Server).
      .col-xl-7.d-flex.align-items-stretch
        .icon-boxes.d-flex.flex-column.justify-content-center
          .row
            .col-md-6.icon-box(
              data-aos-delay="100"
              data-aos="fade-up"
              )
              i.bx.bx-receipt
              h4 Unified Repository
              p
                | Control Origins was founded on a unique approach to building a logical relationship between an organization’s policies, procedures, standards,
                |   roles and skills to industry best practices (COSO, Cobit, ISO and ITIL) as well as regulatory requirements (SOX, HIPAA, Basel II, SSAE 16, PCI, CISP etc.).
                |   Additionally, industry specific regulations can be significant.
            .col-md-6.icon-box(
              data-aos-delay="200"
              data-aos="fade-up"
              )
              i.bx.bx-cube-alt
              h4 Best Practices
              p
                | Whether you are charting the strategic direction of a business unit, ensuring regulatory compliance, transforming operations or optimizing
                |   sourcing models, there are a wealth of best practices that can be leveraged to assess the current state, structure transformation efforts and
                |   implement a continuous improvement lifecycle.
            .col-md-6.icon-box(
              data-aos-delay="300"
              data-aos="fade-up"
              )
              i.bx.bx-images
              h4 Unified Analytics
              p
                | Rapidly cross-referencing and analyzing an organization's processes against both regulatory requirements and best practice frameworks is a critical
                |   component of any transformation assessment. Mapping those varied elements to an organization's roles, skills and responsibilities can only be efficiently
                |   accomplished with a robust data and analytics model.
            .col-md-6.icon-box(
              data-aos-delay="400"
              data-aos="fade-up"
              )
              i.bx.bx-shield
              h4 Unified Modeling
              p
                | There is a wide variety of best practices, regulatory requirements and business requirements that must be addressed in any transformation strategy.
                |   The "origin" and approach of each of these components is highly varied demanding a unified  modeling framework that will provide many benefits including:
        // End .content
        // End Opportunity Section
