section#solution-tabs.tabs(role="tablist")
    .container(data-aos="fade-up")
      ul#myTab.nav.nav-tabs.row.d-flex(role="tablist")
        li.nav-item.col-3(role="presentation")
          button#sourcing-tab.nav-link.active(
            aria-selected="true"
            aria-controls="sourcing"
            role="tab"
            type="button"
            data-bs-target="#sourcing"
            data-bs-toggle="tab"
            )
            i.ri-gps-line
            h4.d-none.d-lg-block Strategic Sourcing
        li.nav-item.col-3(role="presentation")
          button#regulatory-tab.nav-link(
            aria-selected="false"
            aria-controls="regulatory"
            role="tab"
            type="button"
            data-bs-target="#regulatory"
            data-bs-toggle="tab"
            )
            i.ri-body-scan-line
            h4.d-none.d-lg-block Regulatory Compliance
        li.nav-item.col-3(role="presentation")
          button#portfolioanalysis-tab.nav-link(
            aria-selected="false"
            aria-controls="portfolioanalysis"
            role="tab"
            type="button"
            data-bs-target="#portfolioanalysis"
            data-bs-toggle="tab"
            )
            i.ri-sun-line
            h4.d-none.d-lg-block Portfolio Analysis
        li.nav-item.col-3(role="presentation")
          button#financialanalysis-tab.nav-link(
            aria-selected="false"
            aria-controls="financialanalysis"
            role="tab"
            type="button"
            data-bs-target="#financialanalysis"
            data-bs-toggle="tab"
            )
            i.ri-store-line
            h4.d-none.d-lg-block Financial Analysis
      #myTabContent.tab-content
        #sourcing.tab-pane.fade.show.active(
          aria-labelledby="sourcing-tab"
          role="tabpanel"
          )
          .row
            .col-lg-6.order-2.order-lg-1.mt-3.mt-lg-0(
              data-aos-delay="100"
              data-aos="fade-up"
              )
              h3 Strategic Sourcing Solutions
              p
                | Includes current state assessment, portfolio analysis, financial base case, resource allocation analysis, scenario analysis and future state design and implementation.
              p
                | The following Business Alignment tools are leveraged for for establishing an understanding of how the current business strategy aligns with current services:
              ul
                li
                  i.ri-check-double-line
                  strong Stakeholder Satisfaction:
                  | Business satisfaction with existing services and service levels
                li
                  i.ri-check-double-line
                  strong Operational Efficiency:
                  | Effectiveness and efficiency of operations
                li
                  i.ri-check-double-line
                  strong Responsiveness:
                  | Ability of current organization to adapt to changing business requirements
                li
                  i.ri-check-double-line
                  strong Accuracy:
                  | Reliability of financial reporting
                li
                  i.ri-check-double-line
                  strong Assurance:
                  | Compliance with applicable laws and regulations
            .col-lg-6.order-1.order-lg-2.text-center(
              data-aos-delay="200"
              data-aos="fade-up"
              )
              img.img-fluid(
                alt="Strategic Sourcing Solutions"
                src="assets/img/tabs-1.jpg"
                )
        #regulatory.tab-pane.fade(
          aria-labelledby="regulatory-tab"
          role="tabpanel"
          )
          .row
            .col-lg-6.order-2.order-lg-1.mt-3.mt-lg-0
              h3 Regulatory Compliance Solutions
              p
                | Regulatory compliance solutions include discovery, verification, remediation, reporting and analytics across industry segments.
              p
                | We have demonstrated the ability to rapidly identify compliance exceptions and establish an efficient remediation business process.
                |   Innovative analytics are applied to continuously update stakeholders regarding progress on the compliance process across very large organizations.
              .clear
            .col-lg-6.order-1.order-lg-2.text-center
              img.img-fluid(
                alt="Regulatory Compliance Solutions"
                src="assets/img/tabs-2.jpg"
                )
        #portfolioanalysis.tab-pane.fade(
          aria-labelledby="portfolioanalysis-tab"
          role="tabpanel"
          )
          .row
            .col-lg-6.order-2.order-lg-1.mt-3.mt-lg-0
              h3 Portfolio Analysis Solutions
              p
                | Control Origins provides clients with a wide variety of portfolio analysis services across industries as well as portfolio domains including applications and infrastructure.
              p
                | The approach for analyzing application and infrastructure portfolios must be multi-dimensional and aligned to systems development lifecycle (SDLC)
                |   or service management best practices (ITIL).
              p The goal for outcomes of portfolio analysis includes the following:
              ul
                li
                  i.ri-check-double-line
                  | application development and maintenance sourcing
                li
                  i.ri-check-double-line
                  | application development and maintenance resource optimization
                li
                  i.ri-check-double-line
                  | application portfolio rationalization and consolidation
                li
                  i.ri-check-double-line
                  | lean application development
                li
                  i.ri-check-double-line
                  | lean application maintenance
                li
                  i.ri-check-double-line
                  | application retirement
                li
                  i.ri-check-double-line
                  | application architecture strategy
            .col-lg-6.order-1.order-lg-2.text-center
              img.img-fluid(
                alt="Portfolio Analysis Solutions"
                src="assets/img/tabs-3.jpg"
                )
        #financialanalysis.tab-pane.fade(
          aria-labelledby="financialanalysis"
          role="tabpanel"
          )
          .row
            .col-lg-6.order-2.order-lg-1.mt-3.mt-lg-0
              h3 Financial Analysis Solutions
              p
                | Control Origins provides a wide variety of financial analysis services with the goal of developing a financial 'base case' for an organization followed
                |   by modeling transformation or optimization alternatives and their impact or business value.
            .col-lg-6.order-1.order-lg-2.text-center
              img.img-fluid(
                alt="Financial Analysis Solutions"
                src="assets/img/tabs-4.jpg"
                )
