extends layouts/layout

block pagehead
    title Mark Hazleton Control Origins Co-Founder
    meta(name='description', content='Mark Hazleton - Control Origins Co-Founder')
    meta(name='author', content='Mark Hazleton')
    link(rel='canonical', href='https://controlorigins.com/Mark-Hazleton.html')

block layout-content
    br
    br
    section#blog.blog
        .container.aos-init.aos-animate(data-aos="fade-up")
          .row
            .col-lg-8.entries
              article.entry.entry-single
                h1.entry-title(style="font-size:x-large;")
                  img.img-fluid(style="border-radius: 25%;max-width: 25%;margin-right:20px;float:left;max-width: 100px;" alt="Mark Hazleton - Control Origins Co-Founder" src="/assets/img/portfolio/MarkHazleton.jpg" )
                  | Mark Hazleton
                  br
                  | Control Origins Co-Founder

                .entry-content(style="clear:both;")
                  br
                  p.
                    Mark Hazleton has a passion for solution delivery which makes technology work for business. He prefers to focus on tangible
                    benefits for the business by gathering business subject matter expertise. He avoids being sidetracked by sizzle that does not
                    deliver and believes the goals and objectives of the business are the primary driver for a solution to be successful. His primary
                    focus is the Microsoft stack both on premise and in the cloud.
                  p
                  blockquote
                    i.icofont-quote-left.quote-left
                    p I try not to be distracted by sizzle and focus on making technology work for the business.
                    i.las.la-quote-right.quote-right
                    i.icofont-quote-right.quote-right
                  p.
                    Mark Hazleton has worked with both on-premise and cloud based providers including Microsoft Azure and Amazon Web Services. He has developed solutions for the enterprise as well as
                    small business to consumer websites. Mark has used the Azure DevOps tools to implement Continuous Integration and Deployment
                    (CI/CD) processes that includes gated deployments to production.
                  p.
                    Mark Hazleton has worked in both small start-ups and large consulting organizations and always put client service first.
              article.entry.entry-single
                .entry-img
                  img.img-fluid(alt="Greek Theatre by Mark Hazleton" title="Greek Theatre by Mark Hazleton" src="/assets/img/GreekTheatre.jpg" style="object-fit: cover;")
                h2.entry-title
                  a(target="MarkHazleton" href="https://markhazleton.controlorigins.com/lifelong-learning.html" ) Lifelong Learning
                .entry-meta
                  ul
                    li.d-flex.align-items-center
                      i.icofont-user
                      a( href="https://markhazleton.controlorigins.com/" target="MarkHazleton" ) Mark Hazleton
                    li.d-flex.align-items-center
                      i.icofont-wall-clock
                      a( href="https://markhazleton.controlorigins.com/lifelong-learning.html" target="MarkHazleton" )
                        time(datetime="2022-05-22") May 22, 2022
                    li.d-flex.align-items-center
                      i.icofont-comment
                      a(href="https://markhazleton.controlorigins.com/lifelong-learning.html" target="MarkHazleton" )
                p
                  | As a lifelong learner, I have had to adapt how I acquire and strengthen my skills. Over my time in the technology industry,
                  |   we have moved from in-person classrooms and running to the bookstore when assigned a new project to virtually unlimited options,
                  |   most online and for relatively little or no cost.
                .read-more
                  a(href="https://www.linkedin.com/pulse/learning-2022-mark-hazleton/") Read More
                .entry-footer.clearfix
                  .float-left
                    i.icofont-folder
                    ul.cats
                      li
                        a(href="https://markhazleton.controlorigins.com/lifelong-learning.html") Learning
                    i.icofont-tags
                    ul.tags
                      li
                        a(href="https://www.linkedin.com/pulse/learning-2022-mark-hazleton/") LinkedIn Article
                      li
                        a(href="https://markhazleton.controlorigins.com/lifelong-learning.html") Learning
                      li
                        a(href="https://markhazleton.controlorigins.com/lifelong-learning.html#Pluralsight") Pluralsight
                      li
                        a(href="https://markhazleton.controlorigins.com/lifelong-learning.html#MicrosoftLearn") Microsoft Learn
              article.entry.entry-single
                .entry-img
                  img.img-fluid(
                    alt="Greek Island Beach by Mark Hazleton"
                    title="Greek Island Beach by Mark Hazleton"
                    src="/assets/img/GreekIslandBeach.jpg"
                    )
                h2.entry-title
                  a(
                    target="linkedin"
                    href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics/"
                    ) Project Conflict Management
                .entry-meta
                  ul
                    li.d-flex.align-items-center
                      i.icofont-user
                      a(
                        href="https://markhazleton.controlorigins.com/"
                        target="MarkHazleton"
                        ) Mark Hazleton
                    li.d-flex.align-items-center
                      i.icofont-wall-clock
                      a(
                        href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics"
                        target="LinkedIn"
                        )
                        time(datetime="2020-04-23") April 27, 2022
                    li.d-flex.align-items-center
                      i.icofont-comment
                      a(
                        href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics"
                        target="LinkedIn"
                        )
                p
                  | Conflict is inevitable in a team environment.  Project teams bring together a variety of personalities and skills,
                  |   each perceiving tasks and actions in different ways. This diversity is what gives the team depth and
                  |   a broad range of skills required to successfully achieve the project objectives. Yet, this diversity will inevitably bring
                  |   conflicts ranging from simple disagreements on task details to fundamental personality clashes.
                .read-more
                  a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") Read More
                .entry-footer.clearfix
                  .float-left
                    i.icofont-folder
                    ul.cats
                      li
                        a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") Project Conflict Management
                    i.icofont-tags
                    ul.tags
                      li
                        a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") LinkedIn Article
                      li
                        a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") Conflict
                      li
                        a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") Conflict Management
                      li
                        a(href="https://www.linkedin.com/pulse/project-conflict-management-project-mechanics") Project Management
              // End blog entry
              article.entry.entry-single
                .entry-img
                  img.img-fluid(
                    alt="Athens Theatre by Mark Hazleton"
                    title="Athens Theatre by Mark Hazleton"
                    src="/assets/img/AthensTheatre.jpg"
                    )
                h2.entry-title
                  a(
                    target="linkedin"
                    href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                    ) How to Automate Your Deployments with Azure DevOps
                .entry-meta
                  ul
                    li.d-flex.align-items-center
                      i.icofont-user
                      a(
                        href="https://markhazleton.controlorigins.com/"
                        target="MarkHazleton"
                        ) Mark Hazleton
                    li.d-flex.align-items-center
                      i.icofont-wall-clock
                      a(
                        href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                        target="LinkedIn"
                        )
                        time(datetime="2020-04-23") April 23, 2020
                    li.d-flex.align-items-center
                      i.icofont-comment
                      a(
                        href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                        target="LinkedIn"
                        )
                p
                  | In software application lifecycle management (ALM), the deployment of new code to production can be a risky proposition. During a production deployment,
                  |   the tightly controlled production environment are opened up and new code replaces the old code. Improper deployment of code can cause excessive downtime
                  |   and loss of business. Many times, the production deployment is performed by a few trusted administers with limited knowledge of the development process.
                  |   Instead, a system admin doing a copy-paste of files at three in the morning, what if you had a consistent, measurable, auditable, and repeatable way
                  |   of deploying code consistently. This is where Azure DevOps release pipelines can replace manual repetitive process.
                .read-more
                  a(
                    href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                    ) Read More
                .entry-footer.clearfix
                  .float-left
                    i.icofont-folder
                    ul.cats
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) Azure DevOps
                    i.icofont-tags
                    ul.tags
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) LinkedIn Article
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) DevOps
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) Azure
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) Build Pipeline
                      li
                        a(
                          href="https://www.linkedin.com/pulse/how-automate-your-deployments-azure-devops-mark-hazleton/"
                          ) Release Pipeline
              // End blog entry
            // End blog entries list
            .col-lg-4
              #github-card-container.sidebar
                h3.sidebar-title
                #github-card(
                  data-sort-by="updateTime"
                  data-max-repos="5"
                  data-username="markhazleton"
                  )
              #learning-profile.sidebar
                h3.sidebar-title
                  a(
                    href="https://docs.microsoft.com/en-us/users/mark-hazleton/"
                    alt="Mark Hazleton Microsoft Learn Profile"
                    ) Microsoft Learn Profile
              .sidebar
                h3.sidebar-title
                  a(
                    href="https://app.pluralsight.com/profile/markhazletonCEC"
                    title="Pluralsight Profile for Mark Hazleton"
                    target="_blank"
                    ) Pluralsight Profile
                .sidebar-item.course-list
                  ul
                    li Dates and Times in .NET: Jul 6, 2020
                    li SOLID Principles for C# Developers: Jul 3, 2020
                    li React Fundamentals: Jun 10, 2020
                    li Using Office 365 Groups: Jun 8, 2020
                    li HTML, CSS, and JavaScript: The Big Picture: May 4, 2020
                    li React: The Big Picture: Apr 29, 2020
                    li React: Getting Started: Apr 28, 2020
                    li API Gateways and Microservices: CodeMash: Apr 28, 2020
                    li Entity Framework Core: Getting Started: Apr 21, 2020
                    li ASP.NET Core and ASP.NET Input Validation: Apr 16, 2020
                    li .NET Platform Overview and Roadmap: Apr 10, 2020
                    li Best Practices in ASP.NET Core: Entities, Validation, and View Models: Apr 10, 2020
                    li Blazor: The Big Picture: Mar 30, 2020
                    li Azure Event Hubs for .NET Developers: Fundamentals: Mar 30, 2020
                    li Technology Trends and Consequences: Mar 24, 2020
                    li C#: Using Variables and Conditionals: Mar 23, 2020
                    li C# Extension Methods: Feb 24, 2020
                    li IDisposable Best Practices for C# Developers: Feb 24, 2020
                    li Automated Testing with MSTest V2: Oct 4, 2019
                    li Microsoft Azure DevOps Engineer: Monitoring Code Quality: Sep 28, 2019
                    li Microsoft Azure DevOps Engineer: Creating an Automated Build Workflow: Sep 28, 2019
                    li Application Testing with Azure DevOps and Visual Studio 2019: Sep 25, 2019
                    li Writing Testable Code: Sep 15, 2019
                    li Play by Play: Understanding API Functionality Through Swagger: Aug 6, 2019
                    li JavaScript From Scratch: Jun 9, 2019
                    li Defensive Coding in C#: Jun 3, 2019
                    li Scrum Master Fundamentals - Becoming a Great Scrum Master: Jan 23, 2018
                    li Source Control with Microsoft TFS/VSTS and Visual Studio 2017: Jan 22, 2018
                    li How Git Works: Jan 15, 2018
                    li C# Collections Fundamentals: Nov 13, 2017
                    li Git Fundamentals: Nov 5, 2017
                    li Lessons from Real World .NET Code Reviews: Apr 4, 2017
                    li Clean Architecture: Patterns, Practices, and Principles: Apr 1, 2017
                    li Product Owner Fundamentals - Foundations of Product Ownership: Mar 30, 2017
                    li Scrum Master Fundamentals - Foundations: Mar 30, 2017
                    li Introduction to Sitefinity Development: Feb 12, 2016
                    li SSCP®: Introduction and the Exam Requirements: Dec 17, 2015
                    li Getting Started with Entity Framework 6: Dec 15, 2015
                    li Introduction to Sitefinity: Dec 31, 2015
                    li Web API Design: Dec 31, 2015
              // End sidebar
            // End blog sidebar
