
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3
            span(style="color: black;") Control
            span(style="color: white;") .
            span(style="color: gold;") Origins

          p
            | Roanoke, TX 76262
            br
            | United States
            br
            br
            strong Phone:
            | +1 972 322 1066
            br
            strong Email:
            a(href="mailto:mark.hazleton@controlorigins.com" rel="noopener nofollow" ) mark.hazleton@controlorigins.com
            br
        .col-lg-2.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              i.bx.bx-chevron-right
              a(
                title="Control Origins Home"
                href="/"
                ) Home
            li
              i.bx.bx-chevron-right
              a(
                title="Mark Hazleton - Co-founder"
                href="https://markhazleton.controlorigins.com/"
                ) Mark Hazleton
            li
              i.bx.bx-chevron-right
              a(
                title="ControlOrigins -Terms of service"
                href="/terms.html"
                ) Terms of service
  .container.d-md-flex.py-4
    .mr-md-auto.text-center.text-md-left
      .copyright © Copyright Control Origins. All Rights Reserved
      .credits
        // All the links in the footer should remain intact.
        // You can delete the links only if you purchased the pro version.
        // Licensing information: https://bootstrapmade.com/license/
        // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/
        | Designed by
        a(
          href="https://bootstrapmade.com/"
          target="_blank"
          rel="noopener nofollow" title="Free Bootstrap Templates & Website Themes"
          ) BootstrapMade
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.linkedin(
        href="https://www.linkedin.com/company/control-origins"
        target="_blank" rel="noopener nofollow" title="Control Origins on LinkedIn"
        )
        i.bx.bxl-linkedin
  // End Footer
  a.back-to-top(href="/")
    i.icofont-simple-up
  // Vendor JS Files
  script(src="assets/js/vendor.js")
  // Template Main JS File
  script(src="assets/js/scripts.js")
  // Cloudflare Web Analytics
  script(data-cf-beacon="{'token': '06d9fbe29f8a429da31799a68be2a755'}" src="https://static.cloudflareinsights.com/beacon.min.js" defer="").
  // End Cloudflare Web Analytics
